.bg {
}

#logo{
    display: inline-block;
}

.header { 
    margin-top: 10px;

    margin-right:1.4em;
}

.column{
    padding: 1.4em;
}

.scroller {
    
}
.wordsList{
}
.wordList > li{
    display:inline-block;
    font-size: 16px;
    margin:0.4em;
}

.wordList > li:hover{
    font-size: 2em;
    font-weight:bold;
}

#maintable{
    display:block;
    width:90%;
    padding-left: 10em;
    border-spacing: 30px;
}

#maintd{
    min-width:700px;
    max-width:600px;
    padding: 10px;
    
}

#maintd-container{
    margin-left:10px;
    display: inline-block;
    border: 3px solid black;
    padding: 10px;
}
#sidebar_container{
    border: 3px solid black;
    padding: 10px;
}

#sidebar {
    min-width:330px;
    max-width:330px;
    vertical-align: top;
    padding:10px;
    
}
#banners_container{
	border: 3px solid;
	margin-top: 30px;
    padding: 10px;
}

#profile_container{
    float: left;
    display: inline-block;
    margin-right:10px;
}
#profile {
    padding: 40px 30px;
    border: 3px solid black;
}

#profile_footer{
    padding: 5px 30px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#projects_container{
	display: inline-block;
	border: 3px solid black;
	margin-top: 10px;
	margin-left: 10px;
    padding: 10px;
}
