.bg {
}

#logo{
    display: inline-block;
}

#overlay{
    width: 40vw;
    min-width:40vw;
    height: 50vh;
    position: absolute;
    top: 31px;
    left: 300px;
    background-color: black;
    margin: auto;
}
    
.header { 
    margin-top: 10px;
    font-size: 12em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    text-align: center;
}

.column{
    padding: 1.4em;
}

.scroller {
    
}
.wordsList{
    
}

.wordList > li{
    display:inline-block;
    font-size: 2em;
    margin:0.5em;
    text-align: center;
}

.wordList > li:hover{
    font-size: 3em;
    font-weight:bold;
}

#maintable{
    display:block;
    width:90%;
    padding-left: 10em;
    border-spacing: 30px;
}

#maintd{
    min-width:700px;
    max-width:600px;
    padding: 10px;
    
}

#maintd-container{
    margin-left:10px;
    display: inline-block;
    border: 3px solid black;
    padding: 10px;
}
#sidebar_container{
    border: 3px solid black;
    padding: 10px;
}

#sidebar {
    min-width:330px;
    max-width:330px;
    vertical-align: top;
    padding:10px;
    
}
#banners_container{
	border: 3px solid;
	margin-top: 30px;
    padding: 10px;
}

#profile_container{
    float: left;
    display: inline-block;
    margin-right:10px;
}
#profile {
    padding: 40px 30px;
    border: 3px solid black;
}

#profile_footer{
    padding: 5px 30px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#projects_container{
	display: inline-block;
	border: 3px solid black;
	margin-top: 10px;
	margin-left: 10px;
    padding: 10px;
}